.*
!.gitignore
!.gitattributes
.cache
/.classpath
db
dist
bin
.DS_Store
**/*.DS_Store
eclipse
*.eml
.history
.idea
/.idea_modules
.idea_modules
*.iml
lib
lib_managed
log
logs
*.log
modules
/out
precompiled
/.project
project/project
project/target
/RUNNING_PID
server.pid
/.settings
.target
test-result
tmp
*.class
*.html
browserConfig.properties
ZAP*

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
