!.gitignore
!.gitattributes
/.classpath
tmp
logs
/out
/.settings
*.DS_Store
/.project
.history

# IDE files
/.idea
/*.iml
/*.ipr
*.iws
/.idea_modules
eclipse
.scala_dependencies

# sbt files
dist
target
lib_managed
src_managed/
project/project
project/target